{% include "base.html" %}
{% block content %}
    <div class="container">
        <div class="row m-3">
            <div class="col-2">
                <img src="/static/logo/{{ category.logo }}" class="card-img-top" alt="Card image cap">
            </div>
            <div class="col-10">
                <h3 class="m-3">Шпаргалки категории {{ category.name }}</h3>
                <a href="{{ url_for('edit_cat', cat_id=category.id) }}" class="card-link m-3">Изменить</a>
                <a href="#staticBackdrop1" class="card-link m-3" data-bs-toggle="modal">Удалить</a>
                <!-- Модальное окно -->
                <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel1">Подтверждение</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                      </div>
                      <div class="modal-body">
                        Удаление категории приведет к удалению всех шпаргалок данной категории.
                          Действительно хотите удалить?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                        <a href="{{ url_for('delete_cat', cat_id=category.id) }}" type="button" class="btn btn-primary">Удалить</a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            {% for item in object_list %}
                <div class="col-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">{{ item.title }}</h5>
                          <p class="card-text" style="white-space: pre-wrap">{{ item.text }}</p>
                          <a href="{{ url_for('edit_sheet', sheet_id=item.id) }}" class="card-link">Изменить</a>
                          <a href="#staticBackdrop" class="card-link" data-bs-toggle="modal">Удалить</a>

                            <!-- Модальное окно -->
                            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Подтверждение</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                                  </div>
                                  <div class="modal-body">
                                    Действительно хотите удалить шпаргалку?
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                    <a href="{{ url_for('delete_sheet', sheet_id=item.id) }}" type="button" class="btn btn-primary">Удалить</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content%}
